# django djangorestframework djangorestframework-simplejwt django-filter
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual env
venv/
env/

# VS Code
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db
