# django djangorestframework djangorestframework-simplejwt django-filter
# Python
Django>=5.2
djangorestframework
psycopg2-binary
djangorestframework-simplejwt
gunicorn
python-dotenv
whitenoise
django-filter
Pillow
dj-database-url
django-widget-tweaks
