# django djangorestframework djangorestframework-simplejwt django-filter
# Python
Django>=4.2
djangorestframework
psycopg2-binary
djangorestframework-simplejwt
gunicorn
python-dotenv
whitenoise
django-filter
Pillow
