{% extends 'manager/manager_base.html' %}
{% block manager_content %}
<div class="container py-4">
  <div class="card shadow-sm border-0 mx-auto" style="max-width:720px;">
    <div class="card-body">
      <h4 class="mb-3">{{ action }} Product</h4>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="text-end mt-3">
          <a href="{% url 'manager-product-list' %}" class="btn btn-outline-secondary">Cancel</a>
          <button class="btn btn-primary">{{ action }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
